/*
 * @Author: 张浩然 
 * @Date: 2018-03-07 09:29:21 
 * @Last Modified by: 张浩然
 * @Last Modified time: 2018-03-08 00:07:56
 * 此文件用来重置mint-ui
 */


/* popup弹出层的初始高度 */

.mint-popup-bottom {
    height: 80%;
}

/* header头部组件的样式 */
.mint-header{
 background-color:white;
 color: #212121;
}
.mint-header-title{
    font-size: 18px;
    
}